<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <nav>
    <a href="/developers/new">Add New Developer</a> |
    <a href="/">Games</a> |
    <a href="/genres">Genres</a>
  </nav>
  <hr>
  <ul>
    <% if (developers.length > 0) { %>
      <% developers.forEach(dev => { %>
        <li>
          <a href="/developers/<%= dev.id %>"><%= dev.name %></a>
        </li>
      <% }); %>
    <% } else { %>
      <li>No developers found.</li>
    <% } %>
  </ul>
</body>
</html>